
.left-text {
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #222222;
  display: flex;
  justify-content: left;
}

.self-img {
  width: 500px;
  height: 500px;
  padding: 0px;
  display: flex;
  border-radius: 50%;
}