

.card-margin {
    margin-bottom: 50px;
    border: 1px solid #000000; 
}

.card-text {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

.card-title {
    font-size: 50px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    opacity: 50%;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* add transparency to hover */
    opacity: 100%;
    }

.card img {
    max-width: 100%;
    height: auto;
}

.card .card-img {
    flex-grow: 1;
}
