.app-background {
  background-color: #fff7f0; /* Replace with your desired color */
  min-height: 100vh; /* Ensure the background covers the full viewport */
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
