.app-background {
  background-color: #fff7f0; /* Replace with your desired color */
  min-height: 100vh; /* Ensure the background covers the full viewport */
}

.card {
  border-radius: 0;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
}